* {
  font-family: "Montserrat", sans-serif;
}
p {
  font-weight: 400;
  font-size: 16px;
}

.pt10 {
  padding-top: 10px;
}

.about .card {
  border: 0;
}

.about, .card {
  background-color: #f5f5f5;
}
/* .tri-layout-middle div {
  height: 100%;
} */
/* Footer START */
.footer .row {
  background: #101D2C;
}
.footer__logo {
  padding-top: 80px;
}
.footer__menu {
  padding-bottom: 80px;
  padding-top: 80px;
}
.footer__link {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}
/* Footer END */